@import './_settings.scss';
.achievement{
    &-wrap {
        padding-top: $xs-space !important;
        @media only screen and (min-width:$bp-desktop) {
            padding-top:none;
        }
    }
    
    &-title {
        font-size: $lg-space;
        @media only screen and (min-width:$bp-desktop) {
            font-size:90px;
        }
        font-family: $font-varela;
    }
    &-label{
        font-size: $md-space;
        @media only screen and (min-width:$bp-desktop) {
            margin-top:-20px;
            font-family: $font-varela;
            border-bottom: none;
        }
        padding-bottom: $sm-space;
        border-bottom: 2px solid $black-btn-color;
    }
}
