@import './../../../scss/settings';

.setPasswordForm {
    max-width: 320px;
    background: $white;
    padding: 10px;
    margin: 15vh auto 0;

    .avatar {
        img {
           display: inline-block;
           border-radius: 50%; 
        }
    }
    .input-group {
        border: 2px solid #9c27b0;
        position: relative;
        border-radius: 30px;
        padding: 0 1.5rem;
    }
    .close-signup {
        font-size: 40px;
        position: absolute;
        right: 10px;
        color: $white;
        top: 0;
        cursor: pointer;
    }
    .button---primary {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .login-link {
        padding-bottom: 30px;
    }
    .padding-top-20 {
        padding-top: 20px;
    }
}